.register {
  margin: 0 auto;
  width: 40rem;
  max-width: 100%;

  .title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .registerForm {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1rem;

    .inputsWrapper {
      margin-bottom: 4rem;
    }
  }
}